body {
  background-color:#ffcccc;
}
img{
width:400px;
height: 400px;
-moz-border-radius:200px;
-webkit-border-radius:200px;
border-radius:200px;
padding: 20px;
margin:20px;
padding-left: 20px;
}
h1{
  text-align: center;
  font-family: "Georgia";
  color:#4d9900;
  font-size: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
}
p{
  text-align: center;
font-family: "Georgia";
color:#4d9900;
font-size: 60px;
padding-top: 40px;
padding-bottom: 40px;
}
.float{
  float: right;
}
